*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-align: center;
    
}

main{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    width: 50rem;
    height: 37.5rem;
    background-color: white;
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    border-radius: 2.25rem;
    border-bottom-right-radius: 9.5rem;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}
.h1{
    color: hsl(0, 1%, 44%);
    text-align: left;
    font-size: .9375rem;
    padding-bottom: .625rem;
}
.inputs input {
    border-color: hsl(0, 0%, 86%); 
    color: hsl(0, 0%, 8%);
    border-style:solid;
    cursor: pointer;
    transition: 0.3s;
    text-align: left;
    font-size: 2rem;
    padding-left: 1.25rem;
    width:10rem;
    height:4.6875rem;
    border-width: .0625rem;
    border-radius: .4375rem;
    font-weight: 700;
    
}
.inputs input[type="number"]::-webkit-inner-spin-button,
.inputs input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
.inputs input::placeholder{
    color: hsl(0, 0%, 57%);
}
.inputs input:hover{
    border-color: hsl(259, 100%, 65%);
    outline-color: hsl(259, 100%, 65%);
    caret-color: hsl(259, 100%, 65%);  
}
.inputs input:focus{
    border-color: hsl(259, 100%, 65%);
    outline-color: hsl(259, 100%, 65%);
    caret-color: hsl(259, 100%, 65%);
}
.display{
    width: 32.125rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    position: relative;
    top:.625rem
}
.outp{
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}
#yearsold , #monthsold , #daysold{
    color: hsl(259, 100%, 65%);
}
.line-button{
    position:relative;
    top:3.125rem;
    height: 3.125rem;
}
.line{
    width: 43.75rem;
    height:.0625rem;
    background-color: hsl(0, 0%, 86%);
    position: relative;
    align-self: center;
    
}

.submit{
    position: absolute;
    bottom: -2.6965rem;
    border-radius: 3.125rem;
    border-style: none;
    width: 5.625rem;
    height: 5.625rem;
    right:  0rem; 
    background-color: hsl(259, 100%, 65%);
    transition: 0.3s;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    
}
.submit:hover{
    background-color: hsl(0, 0%, 8%);
}
#arrow1{
    display: block;
    position:absolute;
    max-width: 50%;
    height: auto;
    align-self: center;
    right: 1.4rem;
}
#arrow2{
    display:none;
    position:absolute;
    max-width: 50%;
    height: auto;
    align-self: center;
    right: 1.6rem;
}
.yr-mo-dy{
    color: hsl(0, 0%, 8%);
    font-weight: 800;
    font-style: italic;
    font-size: 5.625rem;
    height: 6.25rem;
    
}

.errors{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-style: italic;
    color:hsl(0, 100%, 67%);
}

@media (width <= 800px){  
    html{
        font-size: 70%;     
    }
    main{
        height:100vh;

    }
    .h1{
        font-size: 110%;   
    }
    .line{
        width: 295px;
        height: 2px;
        background-color: hsl(0, 2%, 90%);
    }
    .submit{
        right:10rem;
        
    }
    #arrow1{
        max-width: 50%;
        display: none;
    }
    #arrow2{
        max-width: 40%;
        display:block;
    }
    .container{
        width: 345px;
        height: 500px;
        padding: 2.1875rem;
        padding-top: 50px;
        position: relative;
        bottom:100px;
    }
    .inputs{
        gap: 1.25rem;
    }
    .inputs input {
        font-size: 1.6875rem;
        padding-left: 1.25rem;
        width:8rem;
        height:4.6875rem;
        border-width: .1563rem;
        border-radius: .625rem;
        border-color:hsl(0, 0%, 82%);
    }
    .yr-mo-dy{
        font-size: 4.7rem;
        height: 6.25rem;
        
    }
    .outp{
        gap: 0.9rem;
    }
    .line-button{
        top:60px;
    }
    .display{
        width: 28.125rem;
        gap: 0rem;
        top:75px;
    }
    
    }